header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem ;
  background-color: #fffaffaf;
  color: var(--color-black);
}
.header-nav ul li a{
  display: flex;
  gap: .25rem;
  align-items: center;
}
.logo{
    display: flex;
    gap: 2rem;
}
